* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width:800px;
    width: 100%;
    margin: 0 auto;
}
header{
    font-family: 'Lemon', serif;
}
form {
    max-width:245px;
    width:100%;
    margin: 0 auto;
}
form input {
    padding: 3px;
}
form button{
    padding:5px;
    width:100%;
    background-color:green;
    color:#fff;
    border:none;
}
