*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.container{
  max-width: 1024px;
  width:100%;
  margin: 20px auto;
}
header {
  color: #fff;
  background-color: #192a56;
  padding: 3px;
}
.menu-hamburguer {
  width: 32px;
}
.menu-hamburguer span {
   height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}
