* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width:800px;
    width: 100%;
    margin: 0 auto;
}
form {
    max-width:400px;
    width:100%;
}
form input {
    padding: 3px;
}
